[SddmGreeterTheme]
Name=inorishio-theme
Description=cream-da-la-cream
Author=inorishio
Website=https://github.com/inorishio
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.3
ConfigFile=Themes/inorishio_aesthetic.conf
MainScript=Main.qml
TranslationsDirectory=translations
Theme-Id=sddm-astronaut-theme
Theme-API=2.0
QtVersion=6
