$pink: #E46A97; // Color I like
$vivian1: #6a4c9c;
$vivian2: #A388DB;
$background: #10111e;
$foreground: #c3c3c6;
$cursor: #c3c3c6;

$color0: #10111e;
$color1: #534776;
$color2: #974A74;
$color3: #48409C;
$color4: #5F5194;
$color5: #9F5D9B;
$color7: #c3c3c6;
$color8: #5d5f71;
$color9: #534776;
$color10: #974A74;
$color11: #48409C;
$color12: #5F5194;
$color13: #9F5D9B;
$color14: #E46A97;
$color15: #c3c3c6;
